/* colors:
    off-white: #efefef 
    red: #ba0c2f or rgb(186,12,47,0.75)
    creamery: #f1eee4
    black: #000000
    orange: #f7721b or rgb(247,144,27,0.75)
*/

body {
    background-color: #000000 !important;
}

.container-fluid {
    background-image: url("../images/splitaubuga05.jpg");
    background-size: cover;
    background-position: bottom;
    float: none;
    margin: 10em 0 0 0;
    padding: 0 0 10em 0;
}

h1 {
    color: #ffffff;
    font-size: 10px !important;
    text-align: center;
}

h2, h4, h5, h6 {
    font-family: "Teko", "Oswald", sans-serif;
}

em {
    font-size: .75em;
}

.blurb a {
    color: #ffffff !important;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none !important;
}

a:hover {
    color: #ffffff !important;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none !important;
}

#header {
    background-image: linear-gradient(to right, #f7721b , #ba0c2f);
    color: black;
    height: 250px;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    margin: 0 0 10em 0;
    padding: 10px 10px; /* Some padding */
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    transition: 0.4s ease-in-out; /* Add a transition effect (when scrolling - and font size is decreased) */
    width: 100%; /* Full width */
    z-index: 99;
}

#header a {
    background-color: #ffffff;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: .25em;
    margin: 0 .25em .25em .25em;
    padding: 8px;
}

#header a:hover {
    background-color: rgb(255,255,255,0.75);
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.nav-aub {
    color: #f7721b !important;
    float: left;
}

.nav-uga {
    color: #ba0c2f !important;
    float: right;
}

#logo {
    transition: 0.4s ease-in-out;
    margin: 40px 0 0 0;
}

.nav-stats .aubCount {
    color: #ffffff;
    font-family: "Teko", "Oswald", sans-serif;
    font-size: .5em !important;
    line-height: .25em;
    margin: .25em 0 .25em 0;
}

.nav-stats .ugaCount {
    color: #ffffff;
    font-family: "Teko", "Oswald", sans-serif;
    font-size: .5em !important;
    line-height: .25em;
    margin: .25em 0 .25em 0;
}

.nav-stats .total-txt {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: .2em !important;
    font-weight: 400;
    line-height: .25em;
}

.schools {
    background-image: linear-gradient(to right, rgb(247,144,27,0), rgb(186,12,47,0));
    color: #ffffff;
    padding: 0 0 2em 0;
    margin: -3em 0 5em 0;
    text-align: center;
}

.count {
    font-family: "Teko", "Oswald", sans-serif;
    line-height: .75em;
}

.date {
    text-align: center;
}

.btn-aub {
    background-color: #f7721b;
    border-radius: 5px;
    color: #ffffff;
    margin: 2em 0 0 0 !important;
    padding: 8px 16px 8px 16px !important;
}

.btn-uga {
    background-color: #ba0c2f;
    border-radius: 5px;
    color: #ffffff;
    margin: 2em 0 0 0 !important;
    padding: 8px 16px 8px 16px !important;
}

.give-btn-aub {
    background-color: #ffffff !important;
    border: 2px #ffffff solid;
    border-radius: 5px;
    color: #f7721b !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 600 !important;
    margin: 1em 0 0 0;
    transition: 0.4s ease-in-out;
}

.give-btn-aub:hover {
    background-color: #f7721b !important;
    color: #ffffff !important;
    transition: 0.4s ease-in-out;
}

.give-btn-uga {
    background-color: #ffffff !important;
    border: 2px #ffffff solid;
    border-radius: 5px;
    color: #ba0c2f !important;
    font-family: "Open Sans", sans-serif;
    font-size: 25px !important;
    font-weight: 600 !important;
    margin: 1em 0 0 0;
    transition: 0.4s ease-in-out;
}

.give-btn-uga:hover {
    background-color: #ba0c2f !important;
    color: #ffffff !important;
    transition: 0.4s ease-in-out;
}

.schools {
    text-shadow: 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000;
}

#countdown {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 1em .5em 1em;
    text-align: center;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
}

 /* Extra small devices (portrait phones, 300px and up) */
 @media (min-width: 300px) {
    h2 {
        font-weight: 600 !important;
        font-size: 80px !important;
    }
    /* h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 4em !important
    } */
    h4 {
        font-weight: 400 !important;
        font-size: 4em !important;
    }
    p {
        font-family: "Open Sans", sans-serif;
        font-size: 2em;
    }
    .detail, .date {
        font-family: "Open Sans", sans-serif;
        font-size: 2em !important;
        line-height: .75em;
        padding: 5px;
    }
    .nav-aub {
        display: none;
    }
    .nav-uga {
        display: none;
    }
    .school-name {
        line-height: .5em;
        margin: 5em 0 .35em 0;
    }
    .count {
        font-size: 10em;
    }
    .give-btn-aub {
        font-size: 65px !important;
        margin: .25em 0 2em 0;
        padding: 30px 60px 30px 60px;
    }
    .give-btn-uga {
        font-size: 65px !important;
        margin: .25em 0 2em 0;
        padding: 30px 60px 30px 60px;
    }
    .blurb {
        background-color: rgb(0,0,0,0.75);
        color: #ffffff;
        padding: 2em 3em 2em 3em;
        margin: 2em 0 2em 0;
    }
    .donorsLeft {
        text-align: right;
    }
    .donorsRight {
        text-align: left;
    }
    .header {
        margin: 0 0 12em 0;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h2 {
        font-weight: 600 !important;
        font-size: 80px !important;
    }
    /* h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 4em !important
    } */
    h4 {
        font-weight: 400 !important;
        font-size: 4em !important;
    }
    p {
        font-family: "Open Sans", sans-serif;
        font-size: 2em;
    }
    .detail, .date {
        font-family: "Open Sans", sans-serif;
        font-size: 2em !important;
        line-height: .75em;
        padding: 5px;
    }
    .nav-aub {
        display: none;
    }
    .nav-uga {
        display: none;
    }
    .school-name {
        line-height: .5em;
        margin: 5em 0 .35em 0;
    }
    .count {
        font-size: 10em !important;
    }
    .give-btn-aub {
        font-size: 65px !important;
        margin: .5em 0 2em 0;
        padding: 30px 60px 30px 60px;
    }
    .give-btn-uga {
        font-size: 65px !important;
        margin: .5em 0 2em 0;
        padding: 30px 60px 30px 60px;
    }
    .blurb {
        background-color: rgb(0,0,0,0.75);
        color: #ffffff;
        padding: 2em 3em 2em 3em;
        margin: 2em 0 2em 0;
    }
    .donorsLeft {
        text-align: right;
    }
    .donorsRight {
        text-align: left;
    }
    .header {
        margin: 0 0 12em 0;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h2 {
        font-weight: 600 !important;
        font-size: 100px !important;
    }
    h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 4em !important
    }
    h4 {
        font-weight: 400 !important;
        font-size: 4em !important;
    }
    .nav-aub {
        display: none;
    }
    .nav-uga {
        display: none;
    }
    .school-name {
        line-height: 1.5em;
        margin: 3.5em 0 .35em 0;
    }
    .count {
        font-size: 10em !important;
    }
    .give-btn-aub {
        font-size: 55px !important;
        padding: 30px 60px 30px 60px;
    }
    .give-btn-aub:hover {
        padding: 40px 70px 40px 70px;
        transition: 0.2s ease-in-out;
    }
    .give-btn-uga {
        font-size: 55px !important;
        padding: 30px 60px 30px 60px;
    }
    .give-btn-uga:hover {
        padding: 40px 70px 40px 70px;
        transition: 0.2s ease-in-out;
    }
    .blurb {
        background-color: rgb(0,0,0,0.75);
        color: #ffffff;
        padding: 2em 5em 2em 5em;
        margin: 2em 0 2em 0;
    }
    .donorsLeft {
        text-align: right;
    }
    .donorsRight {
        text-align: left;
    }
    .header {
        margin: 0 0 12em 0;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 3em !important
    }
    h4 {
        font-weight: 400 !important;
        font-size: 2em !important;
    }
    p {
        font-family: "Open Sans", sans-serif;
        font-size: 1.25em;
    }
    .detail, .date {
        font-family: "Open Sans", sans-serif;
        font-size: 1.25em !important;
        line-height: 1em;
        padding: 5px;
    }
    .nav-aub {
        display: block;
    }
    .nav-uga {
        display: block;
    }
    .school-name {
        line-height: 1.5em;
        margin: 2.7em 0 .35em 0;
    }
    .count {
        font-size: 12em !important;
    }
    .give-btn-aub {
        font-size: 25px !important;
        padding: 10px 45px 10px 45px;
    }
    .give-btn-aub:hover {
        padding: 10px 75px 10px 75px;
        transition: 0.2s ease-in-out;
    }
    .give-btn-uga {
        font-size: 25px !important;
        padding: 10px 45px 10px 45px;
    }
    .give-btn-uga:hover {
        padding: 10px 75px 10px 75px;
        transition: 0.2s ease-in-out;
    }
    .blurb {
        background-color: rgb(0,0,0,0.75);
        color: #ffffff;
        padding: 2em 16em 2em 16em;
        margin: 2em 0 2em 0;
    }
    .donorsLeft {
        text-align: left;
    }
    .donorsRight {
        text-align: right;
    }
    .header {
        margin: 0 0 11em 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .school-name {
        line-height: 1.5em;
        margin: 4em 0 .15em 0;
    }
    .count {
        font-size: 14em !important;
    }
    .donorsLeft .count {
        padding: 0 0 0 .28em;
    }
    .detail, .date {
        font-family: "Open Sans", sans-serif;
        font-size: 1.25em !important;
        line-height: 1em;
        padding: 5px;
    }
    .give-btn-aub {
        font-size: 25px !important;
        padding: 10px 45px 10px 45px;
    }
    .give-btn-aub:hover {
        padding: 10px 75px 10px 75px;
        transition: 0.2s ease-in-out;
    }
    .give-btn-uga {
        font-size: 25px !important;
        padding: 10px 45px 10px 45px;
    }
    .give-btn-uga:hover {
        padding: 10px 75px 10px 75px;
        transition: 0.2s ease-in-out;
    }
    .header {
        margin: 0 0 10em 0;
    }
}