/* colors:
    off-white: #efefef 
    red: #ba0c2f
    creamery: #f1eee4
    black: #000000
    orange: #f7721b
*/

body {
    background-color: #000000 !important;
}

.container-fluid {
    background-image: url("../images/4thq-stadium.jpg");
    background-size: cover;
    background-position: bottom;
    margin: 5em 0 0 0;
    padding: 0 0 10em 0;
}


h1, h2, h4, h5, h6 {
    font-family: "Dosis", "Oswald", sans-serif;
}

h2 {
    font-weight: 800 !important;
    font-size: 60px !important;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 3em !important
}

p {
    font-family: "Open Sans", sans-serif;
}

.schools {
    text-align: center;
    color: #ffffff;
    margin: 20em 0 10em 0;
    padding: 10em 0 10em 0;
}

.count {
    font-size: 30px
}

.btn-aub {
    background-color: #f7721b;
    border-radius: 5px;
    color: #ffffff;
    padding: 8px;
}

.btn-uga {
    background-color: #ba0c2f;
    border-radius: 5px;
    color: #ffffff;
    padding: 8px;
}


#header {
    background-image: linear-gradient(to right, #f7721b , #ba0c2f);
    padding: 10px 10px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    height: 250px;
    width: 100%; /* Full width */
    transition: 0.4s; /* Add a transition effect (when scrolling - and font size is decreased) */
    z-index: 99;
    margin: 0 0 10em 0;
}

#header a {
    background-color: #ffffff;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: .25em;
    margin: 0 .25em .25em .25em;
    padding: 8px;
}

#header a:hover {
    background-color: rgb(255,255,255,0.75);
    text-decoration: none;
}

.nav-aub {
    float: left;
    color: #f7721b !important;
}


.nav-uga {
    float: right;
    color: #ba0c2f !important;
}

#logo {
    transition: 0.4s;
    margin: 40px 0 0 0;
}

/*  Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }